<!-- prima pagina che vede l'utente, se loggato -->

<!-- scena 3d, con animazioni di ingresso, ma senza le animazioni dello scroll  -->
<app-saturno [usaAnimazioniIngresso]="true" [usaAnimazioniScroll]="false">
</app-saturno>
<!-- carosello 'hero' delle novita -->
<app-carosello-novita></app-carosello-novita>

<!-- menu di prova -->
<ul class="menuu">
  <li>
    <a href="javascript:void(0)" [routerLink]="['/catalogo/film']"> Film </a>
  </li>
  <li>
    <a href="javascript:void(0)" [routerLink]="['/catalogo/serie']"> Serie </a>
  </li>
</ul>
<div class="catalogo-contenuto">
  <section id="locandine_container">
    <ng-container *ngFor="let riga of righeDemo; trackBy: tracciaRigaCategoria">
      <app-riga-categoria
        #rigaCatalogo
        [categoria]="riga.category"
        [locandine]="riga.locandine"
      >
      </app-riga-categoria>
    </ng-container>
    <div #sentinella class="sentinella">
    <ng-container *ngFor="let indice of cinqueElementi">
      <app-spinner></app-spinner>
    </ng-container>

  </div>
  </section>
  <app-footer></app-footer>
</div>
