<div
  class="contenitore-carosello"
  *ngIf="immagini.length > 0"
  [class.offuscato]="mostraVideo"
  [class.non-top]="!alTop"
>
  <div
    class="scorrimento-carosello"
    [style.transform]="stileTrasformazione"
    [style.transition]="
      transizioneAttiva ? 'transform 0.5s ease-in-out' : 'none'
    "
  >
    <div class="diapositiva">
      <img
        aria-hidden="true"
        [src]="immagini[immagini.length - 1]"
        [attr.alt]="
          'ui.carosello.altSfondo'
            | translate
              : {
                  titolo: titoliAlt[immagini.length - 1] || ''
                }
        "
      />
    </div>

    <div class="diapositiva" *ngFor="let immagine of immagini; let i = index">
      <img
        [src]="immagine"
        aria-hidden="true"
        (load)="segnalaSfondoCaricato(i)"
        [attr.alt]="
          'ui.carosello.altSfondo'
            | translate
              : {
                  titolo: titoliAlt[i] || ''
                }
        "
      />
    </div>

    <div class="diapositiva">
      <img
        aria-hidden="true"
        [src]="immagini[0]"
        [attr.alt]="
          'ui.carosello.altSfondo'
            | translate
              : {
                  titolo: titoliAlt[0] || ''
                }
        "
      />
    </div>
  </div>

  <div class="comandi-carosello" [class.rimpiciolito_salito_destra]="!alTop">
    <div class="riga-alta">
      <button
        (click)="vaiIndietro()"
        [disabled]="scorrimentoInCorso"
        [attr.aria-label]="
          'ui.carosello.prev_btn.title'
            | translate : { titolo: getPrevTitolo() }
        "
        [attr.title]="
          'ui.carosello.prev_btn.title'
            | translate : { titolo: getPrevTitolo() }
        "
      >
        &#9664;
      </button>

      <span
        class="etichetta-novita"
        [innerHTML]="'ui.carosello.novita.label' | translate"
      ></span>

      <button
        (click)="vaiAvanti()"
        [disabled]="scorrimentoInCorso"
        [attr.aria-label]="
          'ui.carosello.next_btn.title'
            | translate : { titolo: getNextTitolo() }
        "
        [attr.title]="
          'ui.carosello.next_btn.title'
            | translate : { titolo: getNextTitolo() }
        "
      >
        &#9654;
      </button>
    </div>

    <div class="riga-bassa">
      <button
        *ngFor="let _ of immagini; let i = index"
        [class.attivo]="i + 1 === indiceCorrente"
        (click)="selezionaIndice(i)"
        [disabled]="scorrimentoInCorso"
        [attr.aria-label]="
          'ui.carosello.slide.label'
            | translate
              : {
                  titolo: titoliAlt[i] || ''
                }
        "
        [attr.title]="
          'ui.carosello.slide.label'
            | translate
              : {
                  titolo: titoliAlt[i] || ''
                }
        "
      ></button>
    </div>
  </div>
  <span class="sfumatura"></span>
  <video-js
    #riproduttore
    id="video-carosello-novita"
    class="video-js sovrapposto senza-controlli"
    [class.nascosto]="!mostraVideo"
    [style.--durata-fade-visivo]="durataFadeVisivoMs + 'ms'"
    preload="auto"
    playsinline
  >
    {{ "ui.carosello.video_nosupport" | translate }}
  </video-js>

  <div class="sinistra-titoli" [class.rimpiciolito_salito_sinistra]="!alTop">
    <div class="contenitore-titolo" [class.nascosto]="!titoloVisibile">
      <img
        aria-hidden="true"
        class="titolo_locandina"
        [src]="imgTitoloOverlay"
        (load)="segnalaTitoloCaricato()"
        [attr.alt]="
          'ui.carosello.altTitolo' | translate : { titolo: titoloOverlay || '' }
        "
      />
    </div>

    <p class="sottotitolo" [class.nascosto]="!sottotitoloVisibile">
      {{ sottotitoloOverlay }}
      <span
        class="play"
        [attr.title]="
          'ui.carosello.slide_tooltip.title'
            | translate : { titolo: titoloOverlay || '' }
        "
        >&#9658;</span
      >
    </p>
  </div>
</div>
