.contenitore-carosello {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: height 0.5s ease-in-out;
  will-change: transform;
}

.scorrimento-carosello {
  display: flex;
  height: 100%;
  will-change: transform;

  .diapositiva {
    min-width: 100%;
    height: 100%;
    will-change: transform;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
      will-change: transform;
    }
  }
}

/* comandi (frecce + pallini) */
.comandi-carosello {
  position: absolute;
  top: 52%;
  right: 70px;
  z-index: 20;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.5s ease-in-out, top 0.5s ease-in-out;

  .riga-alta {
    display: flex;
    align-items: center;
    gap: 3px;

    button {
      padding: 6px 12px;
      font-size: 20px;
      font-weight: bolder;
      background: rgba(59, 59, 59, 0.341);
      color: #dddcdc;
      border: none;
      border-radius: 50%;
      cursor: pointer;
      transition: transform 0.2s ease;

      &:hover {
        transform: scale(1.2);
      }

      &:disabled {
        opacity: .5;
        cursor: default;
        transform: none;
      }
    }

    .etichetta-novita {
      font-size: 62px;
      text-shadow: 0 0 10px #000;
      font-weight: bold;
      color: #e5ae09;
      font-family: "Quantico", sans-serif;
      letter-spacing: 1px;
      font-style: italic;
    }
  }

  .riga-bassa {
    margin-top: -5px !important;
    display: flex;
    gap: 18px;
    margin-top: 10px;

    button {
      position: relative;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: #cccccc8d;
      border: none;
      cursor: pointer;
      transition: transform 0.2s ease;
      box-shadow: 0 4px 3px #000;

      &::after {
        content: "";
        position: absolute;
        top: -8px;
        left: -8px;
        right: -8px;
        bottom: -8px;
        background: transparent;
        pointer-events: auto;
      }

      &:hover:not(.attivo) {
        transform: scale(1.4);
      }

      &.attivo {
        background-color: #e5ae09;
        transform: scale(1.5);
      }
    }
  }
}
