<div class="toast-wrapper">
  <div
    class="toast"
    *ngFor="let t of toasts"
    [ngClass]="[t.tipo, t.mostraSpinner === true ? 'con-spinner' : '']"
  >
    <app-spinner *ngIf="t.mostraSpinner === true"></app-spinner>

    <span class="toast-testo">
      {{ t.testo }}
    </span>

    <a
      *ngIf="t.azione === 'ripeti_accesso'"
      href="javascript:void(0)"
      (click)="onRipetiAccesso($event)"
      class="toast-link"
    >
      {{ 'ui.toast.sessione.link' | translate }}
    </a>
  </div>
</div>
