.bottone-audio {
  background: #01090b;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 7px 2px 10px rgba(255, 255, 255, 0.119);

  .contenitore-icona {
    position: relative;
    width: 22px;
    height: 22px;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .icona {
    width: 100%;
    height: 100%;
    fill: #ececec;
  }

  .sbarra {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 120%;
      height: 2px;
      background: rgb(255, 42, 0);
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
