<!-- in questa pagina definisco i bottoni riutilizzabili per tutto il progetto, definisco il type, se è abilitato, la funzione, la classe, il titolo, la label, icona o immagine  -->
<button [attr.type]="type"
        [disabled]="disabled"
        (click)="onClick()"
        class=" {{ customClass }}"
        [attr.title]="buttonTitle || label">

  <!-- Icona con classi (es. FontAwesome) -->
  <i *ngIf="icon" class="{{ icon }}"></i>

  <!-- Immagine con path esterno -->
  <img *ngIf="imgSrc"
       [src]="imgSrc"
       alt=""
       class="button-img"/>

  <!-- Contenuto personalizzato (es. inline SVG) -->
  <ng-content></ng-content>

  <!-- Testo (label) -->
  {{ label }}
</button>
