:host {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  perspective: 600px;
}

.quadrato {
  display: flex;
  align-items: center;
  justify-content: center;
  transform-style: preserve-3d;
  transform: rotatex(55deg);
  border-radius: 8px;
}

.spinner {
  display: block;
  width: 100%;
  height: 100%;
  transform-box: fill-box;
  transform-origin: center center;
  animation: gira-spinner 1.6s linear infinite;
}

.cls-1 {
  fill: #f2edc7;
}
.cls-2 {
  fill: #e2c693;
}
@keyframes gira-spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
