button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  background-color: #01090b;
  padding: 5px;
  border-radius: 50%;
  box-shadow: 7px 2px 10px rgba(255, 255, 255, 0.119);

  svg {
    width: 19px;
    margin-top: 1px;
    height: 19px;
    fill: currentColor;
    color: #e4e4e4;
    border-radius: 50%;
    transition: color .25s ease-in-out, transform .25s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  &.preferito {
    svg {
      color: #ec820a;
    }
  }
}
