<div class="title-container">
  <div class="home-container">
    <!-- titolo principale -->
    <a class="title-link" [routerLink]="['/']">
      <h1 id="titles" class="main-title" [attr.translate]="'no'">
        <span class="first" data-titolo-first>Science <br> code</span>

        <span id="x_low" *ngIf="isLowPerf" #xRef class="x x-low" data-titolo-x>X</span>
        <span id="x_hegh" *ngIf="!isLowPerf" #xRef class="x x-high" data-titolo-x>X</span>
      </h1>
    </a>

      <h3 class="subtitle" [innerHTML]="'ui.main.sottotitolo' | translate"></h3>

      <p class="scrol">
        <span class="down">▼</span>
        {{ 'ui.main.scendi' | translate }}
        <span class="down">▼</span>
      </p>

    </div>
</div>
