
  .title-container {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 20;
    height: 100vh;
    width: 100%;
    pointer-events: none;
    text-align: end;
    padding-top: 210px;



  @media (max-width: 400px) {
    padding-top: 205px;
  }
  @media  (max-width: 985px) and (orientation: landscape) and (min-aspect-ratio: 7/5) {
    margin-top: -120px;
  }

  @media (max-width: 1020px) and (max-height:560px) and (orientation: landscape){
    margin-top: -120px;
  }

   &.titolo-alto {
    pointer-events: auto;
  }

  &.titolo-alto .main-title {
    cursor: pointer;
  }

}




.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1px;
  @media (max-height: 685px) {
    margin-top: -40px;
  }
}

.main-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 98px;
  max-width: 60%;
  color: #ffffff;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #493e21;
  width: 100%;
  font-family: "Times New Roman", Times, serif;
  font-style: italic;


  @media (max-width: 850px) {
    font-size: 85px;
  }
  @media (max-width: 720px) {
    font-size: 75px;
    margin-left: 25px;
  }

  @media (max-width: 600px) {
    font-size: 70px;

    padding-right: 20px;
  }
  @media (max-width: 510px) {
    text-shadow: 4px 4px 10px #493e21;

    padding-right: 20px;
  }
  @media (max-width: 480px) {
    margin-left: 10px;
    padding-right: 25px;
    font-size: 13.5vw;
  }
  @media (max-width: 390px) {
    padding-right: 5px;
  }
  //schermo significatamente pi첫 largo che alto, dispositivo orizontale
  @media (orientation: landscape) and (min-aspect-ratio: 7/5) and (max-width: 985px) {
    font-size: 6.8vw;
  }

}
.main-title-little {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 98px;
  max-width: 60%;
  color: #f1f1f1;
  font-weight: 800;
  position: relative;
  text-transform: uppercase;
  text-shadow: 4px 4px 10px #493e21;
  width: 100%;
  font-family: "Times New Roman", Times, serif;



}

//x arancione
.x{
  opacity: 0;
  position: relative;
  font-size: 335px;
  font-weight: bold;
  color: orange;
  text-shadow: none;
  filter: drop-shadow(4px 4px 10px #867038);
  margin-left: -30px;
  @media (max-width: 900px) {
    font-size: 320px;
  }
  @media (max-width: 720px) {
    font-size: 300px;
  }
  @media (max-width: 600px) {
    font-size: 280px;
  }
  @media (max-width: 485px) {
    font-size: 230px;
    padding-left: 5px;
  }
  @media (max-width: 430px) {
    font-size: 210px;
    padding-left: 5px;
  }
  //schermo significatamente pi첫 largo che alto, dispositivo orizontale
  @media (orientation: landscape) and (min-aspect-ratio: 7/5) and (max-width: 985px) {
    font-size: 25vw;
    padding-left: 20px;
  }
}
.x-orange{
  opacity: 1;
  position: relative;
  font-size: 335px;
  font-weight: bold;
  color: orange !important;
  text-shadow: none;
  filter: drop-shadow(4px 4px 10px #867038);
  margin-left: -30px;

  @media (max-width: 900px) {
    font-size: 320px;
  }
  @media (max-width: 720px) {
    font-size: 300px;
  }
  @media (max-width: 600px) {
    font-size: 280px;
  }
  @media (max-width: 485px) {
    font-size: 230px;
    padding-left: 5px;
  }
  @media (max-width: 430px) {
    font-size: 210px;
    padding-left: 5px;
  }
  //schermo significatamente pi첫 largo che alto, dispositivo orizontale
  @media (orientation: landscape) and (min-aspect-ratio: 7/5) and (max-width: 985px) {
    font-size: 25vw;
    padding-left: 20px;
  }


}

.x-orange::after {
  content: none !important;
  display: none !important;
}


// x con gif
.x::after {
  content: "X";
  will-change: transform, opacity;
  position: absolute;
  top: 0;
  left: 0;
  transform: scale(1.04);
  font-size: inherit;
  font-weight: inherit;
  background-size: cover;
  background-position: center;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  opacity: 0;
  transform-origin: center;
  @media (max-width: 900px) {
    font-size: 320px;
  }
  @media (max-width: 720px) {
    font-size: 300px;
  }
  @media (max-width: 600px) {
    font-size: 280px;
  }
  @media (max-width: 485px) {
    font-size: 230px;
    padding-left: 5px;
  }
  @media (max-width: 430px) {
    font-size: 210px;
    padding-left: 5px;
  }
  //schermo significatamente pi첫 largo che alto, dispositivo orizontale
  @media (orientation: landscape) and (min-aspect-ratio: 7/5) and (max-width: 985px) {
    font-size: 25vw;
    padding-left: 20px;
  }
}

//url per le due gif (con ts decido quale caricare a seconda del dispositivo)
.x-low::after {
  background-image: url("/assets/img/x_piccola.gif");
}

.x-high::after {
  background-image: url("/assets/img/x_grende.gif");
}

h3 {
  font-family: 'Cinzel', serif;

  text-align: center;
  color: #e6e6a6;
  font-size: 21px;
  max-width: 90%;


  @media (max-width: 900px) {
    font-size: 18px;
    padding-top: 0px;
  }

  @media (max-width: 480px) {
    font-size: 4.5vw;
  }
  @media (orientation: landscape) and (max-width: 1524px) and (min-height: 500px){
    padding-top: 0px;
    margin-top: -50px;
    font-size: 18px;
    max-width: 100%;
  }
}



.scrol {
  opacity: 0;
  font-family: 'Quantico', serif;
  text-align: center;
  margin-top: 25px;
  color: #ffffff;
  font-size: 17px;
  -webkit-font-smoothing: antialiased;
}




@supports (-moz-appearance: none) {
  @media (max-width: 800px) {

    .main-title {
      text-shadow: none !important;
    }

    .x, .x-orange {
      filter: none !important;
    }
  }
}
@supports (-moz-appearance: none) {
  @media (orientation: landscape) and (min-aspect-ratio: 7/5) and (max-width: 985px) {

    .main-title {
      text-shadow: none !important;
    }

    .x, .x-orange {
      filter: none !important;
    }
  }
}



.first {
  opacity: 0;
}

.title-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 60%;

  text-decoration: none;
  color: inherit;
}
