<app-header></app-header>

<app-sfondo></app-sfondo>
<app-titles-main></app-titles-main>
<router-outlet></router-outlet>
<app-toast-container></app-toast-container>

<app-pagina-caricamento
  *ngIf="!caricamentoDisabilitato && (
         forzaLoaderExtra
         || (erroreFatale$ | async)
         || !(traduzioniPronte$ | async)
         || !(sessioneVerificata$ | async)
         || !(saturnoPronto$ | async)
         || (deveCaricareImmaginiCarosello && !(caroselloPronto$ | async))
       )"
  [mostraSpinner]="!(erroreFatale$ | async) && !loaderAvvioCatalogo"
  [stileAvvioCatalogo]="loaderAvvioCatalogo"
  [isFirefox]="isFirefox">
</app-pagina-caricamento>




