<div class="contenitore-carosello" [ngClass]="{ 'piu_visti': categoria === 'i_piu_visti' }">

  <div class="intestazione-categoria">
    <h3 class="titolo-categoria">{{ categoria }}</h3>
 </div>

  <div class="fascia-carosello" [style.transform]="trasformazioneWrapper">

 <div
   class="locandina"
   #elementoLocandina
   *ngFor="let p of locandine; let i = index; trackBy: tracciaLocandina"
   (mouseenter)="onMouseEnterLocandina(p)"
   (mouseleave)="onMouseLeaveLocandina()"
 >
      <span class="numero">{{ (indicePagina * locandineVisibili) + i + 1 }}</span>

      <div class="sparisci">
        <img
   [src]="p.src"
   alt="locandina"
   (load)="immagineStabilizzata()"
   (error)="immagineStabilizzata()"
 />
   <span class="carica_img" [class.visibile]="mostraSpinner">
   <div class="spinner_spinner">
     <span class="ring1"></span>
     <span class="ring2"></span>
   </div>
 </span>
      </div>


    <div class="doppio_audio">
      <app-bottone-audio></app-bottone-audio>
      <!-- qui sopra puoi aggiungere il tuo "elemento aggiuntivo" quando serve -->
    </div>

    <app-bottone-preferiti [titolo]="p.src"></app-bottone-preferiti>


    </div>

  </div>

</div>

<div class="button">
  <button class="bottone-carosello avanti" *ngIf="indicePagina < numeroMassimoPagine"
    (click)="paginaSuccessiva()"
    aria-label="scroll"
    title="scroll">
    &#9654;
  </button>

  <button class="bottone-carosello indietro" *ngIf="indicePagina > 0"
    (click)="paginaPrecedente()"
    aria-label="scroll"
    title="scroll">
    &#9664;
  </button>
</div>
