//stile della prima pagina su cui si imbatte l'utente

app-sfondo {
  position: fixed;
  pointer-events: none;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  height: 100dvh;
  width: 100dvw;
  top: 0;
  left: 0;
}



app-button {
  height: 100dvh;
  z-index: 991;
  position: fixed;
  top: 0px;
  right: 0;
}

app-footer {
  z-index: 3;
  position: absolute;
  width: 100dvw;

  bottom: 0px;
}

app-main-intro {
  position: fixed;
  pointer-events: none;
  top: 0;
  height: 100dvh;
  z-index: 10;
}



